.position-switches{
    position:fixed;
    right:20px;
    bottom:20px;
}

/***********************************************
Sun/Moon Checkbox styling
***********************************************/
.moon-sun { 
     
    padding:8px 0 0; 
    width:122px; 
    display:block; 
    overflow:hidden; 
    border:none;
     

}
    .moon-sun input { 
        display:none; 

    }
    .moon-sun input + label { 
        width:100%; 
        height:64px; 
        background-color:#46a1f5; 
        border-radius:32px; 
        border:6px solid #23517b; 
        overflow:hidden; 
        position:relative; 
        top:0; 
        left:0; 
        z-index:9; 
        cursor:pointer; 
        transition:background 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s, border 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s; 
    }
    .moon-sun input + label span { 
        width:40px; 
        height:40px; 
        background-color:#FAA31B; 
        border-radius:20px; 
        display:block;
        position:absolute; 
        top:6px; 
        left:6px; 
        transition:left 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s, background 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s; 
    }

    .moon-sun input:checked + label { 
        background-color:#4e30ad; 
        border-color:#271857; 
    }
    .moon-sun input:checked + label span { 
        width:40px; 
        height:40px; 
        background-color:#FFF; 
        border-radius:20px; 
        display:block; 
        left:calc(50% + 9px); 
    }

    .moon-sun input + label span:before { 
        content:''; 
        width:40px; 
        height:40px; 
        border-radius:50%; 
        background-color:#46a1f5; 
        position:absolute; 
        top:-10px; 
        left:-40px; 
        transition:background 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s, left 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s; 
    }
    .moon-sun input:checked + label span:before { 
        background-color:#4e30ad; 
        left:-15px; 
    }

    .moon-sun .left,
    .moon-sun .right { 
        color:#DDD; 
        height:64px; 
        font-size:20px; 
        line-height:64px; 
        position:absolute; 
        top:8px; 
        right:50%; 
        z-index:8; 
        transition:color 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s; 
    }

    .moon-sun .left { 
        padding:0 70px 0 0; 
        color:#FAA31B; 
    }
    .moon-sun .right { padding:0 0 0 70px; right:auto; left:50%; }

    .moon-sun input:checked + label + .left { 
        color:#DDD;
    }
    .moon-sun input:checked + label + .left + .right { 
        color:#4e30ad; 
    }

    .moon-sun input + label .cloud { 
        content:''; 
        display:block; 
        height:40px; 
        width:40px; 
        background-image:url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2220.1px%22%20height%3D%2215.1px%22%20viewBox%3D%220%200%2020.1%2015.1%22%20style%3D%22enable-background%3Anew%200%200%2020.1%2015.1%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M17.1%2C8.8c0.3-0.8%2C0.5-1.6%2C0.5-2.5c0-3.5-2.8-6.3-6.3-6.3S5%2C2.8%2C5%2C6.3c0%2C0%2C0%2C0%2C0%2C0c-0.2%2C0-0.4%2C0-0.6%2C0%0A%09C2%2C6.3%2C0%2C8.3%2C0%2C10.7s2%2C4.4%2C4.4%2C4.4H17c1.7%2C0%2C3.1-1.4%2C3.1-3.1C20.1%2C10.2%2C18.8%2C8.9%2C17.1%2C8.8z%22%2F%3E%0A%3C%2Fsvg%3E); 
        background-repeat:no-repeat; 
        position:absolute; 
        top:22px; 
        left:30px; 
        overflow:hidden; 
        transition:left 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s; 
    }
    .moon-sun input:checked + label .cloud { 
        width:20px; 
        left:82px; 
    }

    .moon-sun input + label .stars { 
        content:''; 
        display:block; 
        height:40px; 
        width:110px; 
        background-image:url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22110px%22%20height%3D%2240px%22%20viewBox%3D%220%200%20110%2040%22%20style%3D%22enable-background%3Anew%200%200%20110%2040%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%2220.4%22%20cy%3D%227.5%22%20r%3D%222.5%22%2F%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%2219.9%22%20cy%3D%2223%22%20r%3D%221%22%2F%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%2241.4%22%20cy%3D%2218.5%22%20r%3D%221.5%22%2F%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%2235.4%22%20cy%3D%2229.5%22%20r%3D%221.5%22%2F%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%2255.9%22%20cy%3D%228%22%20r%3D%222%22%2F%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%227.4%22%20cy%3D%2218.5%22%20r%3D%220.5%22%2F%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%225.4%22%20cy%3D%226.5%22%20r%3D%220.5%22%2F%3E%0A%3C%2Fsvg%3E); 
        background-repeat:no-repeat; 
        position:absolute; 
        top:8px; 
        left:-100px; 
        transition:left 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0s; 
    }
    .moon-sun input:checked + label .stars { 
        left:12px; 
        transition:left 0.8s cubic-bezier(0.33, 0, 0.2, 1) 0s; 
    }

    /*/////////////////////////////////////////////////////////////////////////*/

    .toggleSwitch span span {
  display: none;
}

@media only screen {
  .toggleSwitch {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    
    cursor: pointer;
    width: 40px
  }
  .toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggleSwitch label,
  .toggleSwitch > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .toggleSwitch input:focus ~ a,
  .toggleSwitch input:focus + label {
    outline: none;
  }
  .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }
  .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  .toggleSwitch > span {
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
  }
  .toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 15%;
    top: -1px;
    opacity: 0;
  }
  .toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    height: 100%;
    padding: 0;
    left: 2px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggleSwitch > span span:first-of-type {
    color: #ccc;
    opacity: 1;
    left: 45%;
  }
  .toggleSwitch > span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50px;
    top: -2px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .toggleSwitch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -8px;
  }
  .toggleSwitch input:checked ~ span:before {
    border-color: #0097D1;
    box-shadow: inset 0 0 0 30px #0097D1;
  }
  .toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;

  }
  .toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  }
  .toggleSwitch.xlarge {
    width: 120px;   /*длина поля*/
    height: 56px; /*вытянутость по вертикали кружочка*/
  }
  .toggleSwitch.xlarge a {
    width: 56px;  /*ширина кружочка*/
  }
  .toggleSwitch.xlarge > span {
    height: 60px;  /*размер поля по вертикали*/
    line-height: 57px;  /*расстояние от верхней границы до EN и RU*/
  }
  .toggleSwitch.xlarge input:checked ~ a {
    left: 70px; /*на столько пикселей перемещается круок в стороны*/
  }
  .toggleSwitch.xlarge > span span {
    font-size: 1.4em; /*изменяет размер EN и RU*/
  }
  .toggleSwitch.xlarge > span span:first-of-type {
    left: 100%; /*перемещает EN в стороны*/
  }
  .toggleSwitch.xlarge > span span:last-of-type {
    left: 56%; /*перемещает RU в стороны*/
  }
}