.ng-modal-dialog {
    background-color: #00bc8c;
}
a.href-to-setting {
    background-image: url("../Content/Images/Night/pencil.png");
}
div.href-to-add-modal-dialog {
    background-image: url("../Content/Images/Night/add.png");
}
.href-to-arrow24{
    background-image: url("../Content/Images/Night/arrow24.png");
}
.href-to-add24{
    background-image: url("../Content/Images/Night/add24.png");
}
.search-icon{
    width:30px;
    height:30px;
    border:none;
    border-radius:10px;
    background: #00bc8c;
    
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper .input-holder {
    background: #00bc8c;
}