
@{
    ViewBag.Title = "CreativeReader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="main-div" ng-controller="readController">
        <input type="hidden" id="you" value="@ViewBag.UserId" />
        <div class="col-sm-3 col-md-3 col-xs-3 chapters-list">
            <div class="list-group">

                <a class="list-group-item" ng-repeat="chapter in creative.Chapters" href="#/{{chapter.Id}}"><h4>{{chapter.Name}}</h4></a>

            </div>
        </div>
        <div class="col-sm-7 col-md-8 col-xs-8 full-creative jumbotron">
            <h1 class="margin-top-of-name-creative">{{creative.Name}}</h1>
            <div class="float-with-buttons-right"><a href="http://localhost:52038/Creative/CreativeRedact/{{creative.Id}}" ng-show="authorizedId == creative.UserId"><img src="~/Content/Images/Day/pencil.png" /></a></div>
            <div class="between-cloud-and-panel"></div>
            <div ng-repeat="chapter in creative.Chapters">
                <p id="{{chapter.Id}}"></p><br />
                <h3>{{chapter.Name}}</h3>
                <p ng-bind-html="tustedHtml(chapter.Text)"></p>


                <div class="tag badge" data-ng-repeat="tag in chapter.Tags">{{tag.Name}}</div>
                <div class="between-cloud-and-panel">
                </div>

            </div>
            
        </div>
    </div>
</div>
