
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="searchPageController">
    
    <div class="popular">
        <div>

        

            <div ng-repeat="user in users" class="creative-in-SearchPage well">
                <p id="name" class="style-for-name"><a href="http://localhost:52038/Creative/CreativeReader/#{{user.Creatives[0].Id}}" class="style-for-name">{{user.Creatives[0].Name}}</a></p>
                <hr />
                <div id="link-for-name" class="position-link">
                    <a href="http://localhost:52038/UserPage/Index/{{user.Id}}" class="date">{{user.Login}}</a>
                </div>
                <p class="date">@Resources.Resource.Added: {{user.Creatives[0].CreateData}}</p>
                <p class="date">{{user.Creatives[0].RedactData}}</p>
                <div id="rateYo"></div>
            </div>
    </div>
 </div>
</div>